html,
body {
  margin: 0;
  padding: 0;
  background: white;
}

.custom-select {
  position: relative;
  font-family: Arial;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: white;
  border: black;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: black;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: white;
  border: black;
  border-width: thin;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: gray;
}

#startActivity {
  padding-top: 5%;
  text-align: center;
  z-index: 99;

}

#startButton {
  background-color: white;
  padding: 20px 40px;
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: gray;
}

li {
  margin-top: 2.5%;
  list-style-type: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}


[type="checkbox"] {
  vertical-align: middle;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}

input[type='checkbox']:checked {
  background: #abd;
}

h1 {
  text-align: center;
  font-size: 60px;
}

canvas {
  display: block;
  margin: auto;
}
