html,
body {
  margin: 0;
  padding: 0;
  background: white;
}

#startActivity {
  text-align: center;
  padding-bottom: 5%;
}

#startButton {
  background-color: white;
  padding: 25px 50px;
  font-size: 25px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: gray;
}

h1 {
  text-align: center;
  font-size: 60px;
}


canvas {
  display: block;
  margin: auto;
}
